<desktop>
    <div class="container">
        <nav>
            <a class="nav-img" href="{{ '/' | url }}">
                <img src="/assets/images/favicon.png">
            </a>
            {% include "nav-links.njk" %}
        </nav>
    </div>
    <nav-border></nav-border>
</desktop>
<mobile>
    <div class="container">
        <nav>
            <a class="nav-img" href="{{ '/' | url }}">
                <img src="/assets/images/favicon.png">
            </a>
            <div id="nav-mobile-bars">
                {% include "svg-nav-bars.njk" %}
            </div>
        </nav>
    </div>
    <nav-border></nav-border>
    <div id="popout" class="hide">
        <div id="nav-mobile-x">
            {% include "svg-nav-x.njk" %}
        </div>
        {% include "nav-links.njk" %}
    </div>
</mobile>