<desktop>
    <div class="container">
        <nav>
            <a class="nav-img" href="{{ '/' | url }}">
                <img src="../assets/images/favicon.png">
            </a>
            {% include "nav_links.njk" %}
        </nav>
    </div>
    <nav-border></nav-border>
</desktop>
<mobile>
    <div class="container">
        <nav>
            <a class="nav-img" href="{{ '/' | url }}">
                <img src="../assets/images/favicon.png">
            </a>
            <img src="../assets/images/bars-solid.svg" alt="" id="nav-mobile-bars" class="svg-icon-color">
        </nav>
    </div>
    <nav-border></nav-border>
    <div id="popout" class="hide">
        <img src="../assets/images/xmark-solid.svg" alt="" id="nav-mobile-x" class="svg-icon-color">
        {% include "nav_links.njk" %}
    </div>
</mobile>