{% macro project(header, subtitle, body, square_img, banner_img) %}

    {# Desktop Layout #}
    <div class="row desktop">
        <div class="col-lg-4">
            <img src="{{ '/assets/images/' + square_img | url }}" class="img-fluid">
        </div>
        <div class="col-lg-7 offset-1">
            <div class="h2">{{header}}</div>
            <div class="subtitle">{{subtitle}}</div>
            <p>{{body}}</p>
        </div>
    </div>

    {# Tablet Layout #}
    <div class="row tablet">
        <div class="col-sm-4">
            <img src="{{ '/assets/images/' + banner_img | url }}" class="img-fluid">
        </div>
        <div class="col-sm-7 offset-1">
            <div class="intro-link-bundle">
                <div class="h2">{{header}}</div>
                <div class="subtitle">{{subtitle}}</div>
            </div>
        </div>
        <div class="col-sm-12">
            <p>{{body}}</p>
        </div>
    </div>

    {# Mobile Layout #}
    <div class="row mobile">
        <div class="col-12">
            <img src="{{ '/assets/images/' + banner_img | url }}" class="img-fluid">
        </div>
        <div class="col-12">
            <div class="h2">{{header}}</div>
            <div class="subtitle">{{subtitle}}</div>
            <p>{{body}}</p>
        </div>
    </div>
{% endmacro %}