{% macro button_helper(buttons) %}
    <div class="buttons">
        {% for entry in buttons %}
            <a class="button {{'disabled' if entry.disabled}}" role="button" href="{{ entry.link | url }}" target="_blank" rel="noopener noreferrer">{{entry.label}}</a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro project(header, subtitle, body, img_desktop, img_tablet, img_mobile, buttons) %}
    <div class="project">
        {# Desktop Layout #}
        <div class="row desktop">
            <div class="col-lg-4">
                <img src="{{ '/assets/images/' + img_desktop | url }}" class="img-fluid">
            </div>
            <div class="col-lg-7 offset-1">
                <div class="h2">{{header}}</div>
                <div class="subtitle">{{subtitle}}</div>
                <p>{{body}}</p>
                {{ button_helper(buttons) }}
            </div>
        </div>

        {# Tablet Layout #}
        <div class="row tablet">
            <div class="col-sm-4">
                <img src="{{ '/assets/images/' + img_tablet | url }}" class="img-fluid">
            </div>
            <div class="col-sm-7 offset-1">
                <div class="vertical-center">
                    <div class="h2">{{header}}</div>
                    <div class="subtitle">{{subtitle}}</div>
                </div>
            </div>
            <div class="col-sm-12">
                <p>{{body}}</p>
                {{ button_helper(buttons) }}
            </div>
        </div>

        {# Mobile Layout #}
        <div class="row mobile">
            <div class="col-12">
                <img src="{{ '/assets/images/' + img_mobile | url }}" class="img-fluid">
            </div>
            <div class="col-12">
                <div class="h2">{{header}}</div>
                <div class="subtitle">{{subtitle}}</div>
                <p>{{body}}</p>
                {{ button_helper(buttons) }}
            </div>
        </div>
    </div>
{% endmacro %}