<div class="icons">
    <a href="mailto:clefevr@iu.edu">{% include "svg/svg-email.njk" %}</a>
    <a href="https://www.linkedin.com/in/colin-lefevre/">{% include "svg/svg-linkedin.njk" %}</a>
    <a href="https://github.com/col-lefevre">{% include "svg/svg-github.njk" %}</a>
    <a href="https://orcid.org/0000-0001-6453-7251">{% include "svg/svg-orcid.njk" %}</a>
</div class="icons">