<!DOCTYPE html>
<html>
    <head>
        {% include "basehead.njk" %}
    </head>
    <body>
        <header>{% include "navbar.njk" %}</header>
        <main>
            <div class="container" id="content-wrap">
                {{content | safe}}
            </div>
        </main>
    </main>
</body>
</html>