nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
    margin: 1rem 0rem;
}

nav a {
    color: var(--subtitle-color);
}

nav a:hover {
    color: var(--subtitle-hover-color);
    text-decoration: none;
}

nav a.active {
    color: var(--heading-color);
}

nav a.active:hover {
    color: var(--heading-hover-color);
}
