/* Fonts */
:root {
    --background-color: #11191f;
    --border-color: #1f2d38;
    --popout-color: #141e26;
    --text-color: #bbc6ce;
    --subtitle-color: #596b78;
    --subtitle-hover-color: #73828c;
    --heading-color: #e1e6eb;
    --heading-hover-color: #fff;
    --link-color: #1095c1;
    --link-hover-color: #19b3e6;
    --main-font-size: 18px;
    --nav-gap: 1.25rem;
    /* Colors from PicoCSS Dark mode */
}

@font-face {
    font-family: "OpenSans-Var";
    src: url("../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf")
        format("truetype");
}

html {
    font-size: var(--main-font-size);
    background-color: var(--background-color);
    font-family: "OpenSans-Var", sans-serif;
}

body {
    font-size: 1rem;
    color: var(--text-color);
    font-variation-settings: "wght" 400, "wdth" 100;
    letter-spacing: 0.25px;
}

nav {
    font-size: 1rem;
}

subtitle {
    color: var(--subtitle-color);
    letter-spacing: 0.1px;
    /* Inherits rest from <body> */
}

head1 {
    font-size: 3rem;
    color: var(--heading-color);
    font-variation-settings: "wght" 700, "wdth" 100;
    letter-spacing: -1.5px;
    display: block;
}

head2 {
    font-size: 2rem;
    color: var(--heading-color);
    font-variation-settings: "wght" 650, "wdth" 100;
    letter-spacing: -0.5px;
    display: block;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
    transition: color 0.15s ease;
}

.svg-general-2 {
    /* 
    Manually filtered from heading-color var
    Works when SVG is black; no fill defaults to black
    Source: https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element
    */
    filter: invert(97%) sepia(3%) saturate(411%) hue-rotate(172deg)
        brightness(94%) contrast(95%);
    height: 25px;
    width: 25px;
}

.svg-general {
    color: var(--heading-color);
    height: 25px;
    width: 25px;
}

/* Mobile vs Desktop */
@media (min-width: 550px) {
    mobile {
        display: none;
    }
}

@media (max-width: 549px) {
    desktop {
        display: none;
    }
}

/* MISC */
#content-wrap {
    margin-top: 60px;
}

img {
    border-radius: 0.25rem;
}

p {
    margin: 1.25rem 0rem;
}
