.button {
    padding: 0.65rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--button-color);
    color: var(--heading-color);
}

.button:hover {
    background-color: var(--button-hover-color);
    color: var(--heading-hover-color);
    text-decoration: none;
}

.tablet .button {
    padding: 0.65rem 0.9rem;
}

.mobile .button {
    padding: 0.6rem 0.8rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0.25rem;
    gap: 1.5rem;
    flex-grow: 0;
    flex-wrap: wrap;
}

.tablet .buttons {
    gap: 1.25rem;
}

.mobile .buttons {
    gap: 1rem;
}

.button.disabled {
    filter: brightness(0.7);
    pointer-events: none;
    cursor: default;
}
