.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;
    align-items: flex-start;
}

.intro p {
    margin: 0;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
}

.mobile .intro {
    padding-top: 1.25rem;
}

/* For tablet */
.intro-link-bundle {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
