.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;
    align-items: flex-start;
}

.intro p {
    margin: 0;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
}

.mobile .intro {
    padding-top: 1.25rem;
}

.svg-general {
    color: var(--heading-color);
    height: 25px;
    width: 25px;
    transition: all var(--transition-delay) var(--transition-style);
}

.mobile .svg-general {
    height: 22.5px;
    width: 22.5px;
}

.svg-general:hover {
    color: var(--heading-hover-color);
}
