/* UNIVERSAL  */
nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0rem;
}

/* MOBILE VS DESKTOP */
.mobile {
    position: sticky;
    z-index: 100; /* very high num */
    background-color: var(--background-color);
}

.desktop .nav-links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--nav-gap);
}

.nav-border {
    border-bottom: 1px solid var(--border-color);
}

.mobile .nav-links {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    gap: calc(var(--nav-gap) * 0.75);
}

.desktop .nav-img {
    width: 30px;
    height: 30px;
}

.mobile .nav-img {
    width: 25px;
    height: 25px;
}

.nav-img img {
    width: 100%;
    height: 100%;
}

/* LINK STYLE*/
nav a,
#popout a {
    color: var(--subtitle-color);
}

nav a:hover,
#popout a {
    color: var(--subtitle-hover-color);
    text-decoration: none;
}

nav a.active,
#popout a.active {
    color: var(--heading-color);
}

nav a.active:hover,
#popout a.active:hover {
    color: var(--heading-hover-color);
}

/* POPOUT */
#popout {
    width: 50vw;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    padding: 1rem 1.5rem;

    background-color: var(--popout-color);
    backdrop-filter: blur(1000px);

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#popout.hide {
    display: none;
}

/* SVG */
.svg-nav {
    color: var(--subtitle-color);
    height: 25px;
    width: 25px;
}
