:root {
    --mobile-nav-height: 64px;
}

/* UNIVERSAL  */
.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

/* MOBILE VS DESKTOP */
.desktop .nav,
.tablet .nav {
    margin: 1rem 0rem;
}

.mobile .nav {
    margin: 0rem;
    height: calc(
        var(--mobile-nav-height) - 1.5px
    ); /* Subtract .nav-border thickness */
}

.nav-border {
    border-bottom: 1.5px solid var(--border-color);
}

.desktop .nav-links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--nav-gap);
}

.mobile .nav-links {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: calc(var(--nav-gap) * 0.75);
}

.desktop .nav-img {
    width: 30px;
    height: 30px;
}

.mobile .nav-img {
    width: 25px;
    height: 25px;
}

.nav-img img {
    width: 100%;
    height: 100%;
}

/* LINK STYLE*/
.nav a,
#popout a {
    color: var(--subtitle-color);
}

.nav a:hover,
#popout a {
    color: var(--subtitle-hover-color);
    text-decoration: none;
}

.nav a.active,
#popout a.active {
    color: var(--heading-color);
}

.nav a.active:hover,
#popout a.active:hover {
    color: var(--heading-hover-color);
}

/* FLOATING MOBILE NAV */
#mobile-nav-wrap {
    position: fixed;
    top: 0;
    background-color: var(--background-color);
    z-index: 9998; /* Less than #popout */
    transition: all var(--transition-delay) var(--transition-style);
}

#mobile-nav-wrap.hide {
    top: calc(var(--mobile-nav-height) * -1);
}

#mobile-nav-spacer {
    height: var(--mobile-nav-height);
}

/* POPOUT */
#popout {
    width: 55vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 1rem;
    padding-left: 2rem;

    background-color: var(--popout-color);
    z-index: 9999;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;

    transition: all var(--transition-delay) var(--transition-style);
}

#popout.hide {
    right: -55vw;
}

#popout .nav-links {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-variation-settings: "wght" 400, "wdth" 100;
    letter-spacing: 0px;
}

/* SVG */
.svg-nav {
    color: var(--subtitle-color);
    height: 25px;
    width: 25px;
}
