---
layout: base.njk
navCategory: /
cssFile: ["index.css"]
title: Colin LeFevre
---

{# Intro Text #}
{% macro intro() %}
    <h1>
        <div class="intro">
            <p>Hello! I am</p>
            <div class="h1">Colin LeFevre</div>
            <div class="subtitle">(he/him)</div>
        </div class="intro">
    </h1>
{% endmacro %}

{# Contact Links #}
{% macro links() %}
    <div class="icons">
        <a href="mailto:clefevr@iu.edu" title="Email">{% include "svg/svg-email.njk" %}
            <span class="sr-only">Email</span></a>
        <a href="https://www.linkedin.com/in/colin-lefevre/" title="LinkedIn">{% include "svg/svg-linkedin.njk" %}
            <span class="sr-only">LinkedIn</span></a>
        <a href="https://github.com/col-lefevre" title="Github">{% include "svg/svg-github.njk" %}
            <span class="sr-only">Github</span></a>
        <a href="https://orcid.org/0000-0001-6453-7251" title="ORCID">{% include "svg/svg-orcid.njk" %}
            <span class="sr-only">ORCID</span></a>
    </div class="icons">
{% endmacro %}

{# Description Text #}
{% macro desc() %}
    <div class="desc">
        <p>I am a Human-Computer Interaction (HCI) researcher at  <a href="https://prohealth.luddy.indiana.edu/">Proactive Health Informatics</a>. I am also an incoming Informatics Ph.D. student and <a href="https://new.nsf.gov/funding/opportunities/nsf-graduate-research-fellowship-program-grfp">NSF Graduate Research Fellow</a> at the University of California, Irvine.</p>
        <p>My research focuses on designing technologies which support health and wellbeing in everyday settings. At present, I am particularly interested in digital mental health and self-management. My undergraduate research advisor was <a href="http://cfchung.com">Christina Chung</a>, and my Ph.D. interim research advisor will be <a href="https://www.informatics.uci.edu/explore/faculty-profiles/madhu-reddy/">Madhu Reddy</a>.</p>
        <p>Currently, I am wrapping up undergraduate research projects, preparing to travel to CHI 2024, and generally relaxing.</p>
    </div>
{% endmacro %}

{# Desktop Layout #}
<div class="row desktop">
    <div class="col-lg-4">
        <img src="{{ 'assets/images/headshot/2x3.jpg' | url }}" class="img-fluid" alt="Colin LeFevre standing in a forest on a sunny day">
    </div>
    <div class="col-lg-7 offset-1">
        {{ intro() }}
        {{ links() }}
        {{ desc() }}
    </div>
</div>

{# Tablet Layout #}
<div class="row tablet">
    <div class="col-sm-5">
        <img src="{{ 'assets/images/headshot/1x1.jpg' | url }}" class="img-fluid" alt="Colin LeFevre standing in a forest on a sunny day">
    </div>
    <div class="col-sm-6 offset-1">
        <div class="vertical-center">
            {{ intro() }}
            {{ links() }}
        </div>
    </div>
    <div class="col-sm-12">
        {{ desc() }}
    </div>
</div>

{# Mobile Layout #}
<div class="row mobile">
    <div class="col-12">
        <img src="{{ 'assets/images/headshot/16x9.jpg' | url }}" class="img-fluid" alt="Colin LeFevre standing in a forest on a sunny day">
    </div>
    <div class="col-12">
        {{ intro() }}
        {{ links() }}
        {{ desc() }}
    </div>
</div>