---
layout: base.njk
title: Research
navCategory: /research
cssFile: ["project.css", "research.css", "buttons.css"]
---

<div class="h1">Research</div>

{% import "macros/project.njk" as macros %}

{# Reflection and Bereavement #}
{{ macros.project(
    header='Reflective Technology & Bereavement',
    subtitle='Spring 2022 - Present',
    body='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
    img_desktop='research/bereavement_3x2.png',
    img_tablet='research/bereavement_3x2.png',
    img_mobile='research/bereavement_16x9.png',
    buttons=[{label: "CHI '23 Poster", link: '/assets/pdfs/reflective_tech_bereavement_chi23.pdf'}]
)}}

{# Cooking Stories #}
{{ macros.project(
    header="Digitally Shared Cooking Experiences",
    subtitle='Fall 2021 - Present',
    body='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
    img_desktop='research/cooking_3x2.png',
    img_tablet='research/cooking_3x2.png',
    img_mobile='research/cooking_16x9.png',
    buttons=[{label: "ECSCW '22 Poster", link: '/assets/pdfs/digital_cooking_experiences_ecscw22.pdf'}]
)}}

{# Abortion Activism #}
{{ macros.project(
    header="Technology & Abortion Activism",
    subtitle='Fall 2022 - Winter 2023',
    body='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
    img_desktop='research/abortion_3x2.png',
    img_tablet='research/abortion_3x2.png',
    img_mobile='research/abortion_16x9.png',
    buttons=[{label: "CSCW '23 Poster", link: '/assets/pdfs/abortion_activism_cscw23.pdf'}]
)}}