<div class="container">
    <div class="row-xs12">
        <div class="footer-flex">
            <div>&copy; Colin LeFevre</div>
            <div>Updated {{ "now" | date }}</div>
        </div>
    </div>
</div>