{% set navInfo = [
    {
        id: '/',
        title: 'About'
    }, {
        id: '/research',
        title: 'Research'
    }
] %}

<ul class="nav-links">
    {% for info in navInfo %}
        <li>
            <a href="{{ info.id | url}}" class="{{ 'active' if info.id == navCategory }}" aria-current="{{ 'page' if info.id == navCategory else 'false'}}">{{info.title}}</a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ '/assets/pdfs/colinlefevre_cv.pdf'  | url }}" target="_blank" rel="noopener noreferrer">CV</a>
    </li>
</ul>