{% set navInfo = [
    {
        id: '/',
        title: 'About'
    }, {
        id: '/research',
        title: 'Research'
    }, {
        id: '/design',
        title: 'Design'
    }
] %}

<div class="nav-links">
    {% for info in navInfo %}
        <a href="{{ info.id | url}}" class="{{ 'active' if info.id == navCategory}}">{{info.title}}</a>
    {% endfor %}
    <a href="/assets/pdfs/CV.pdf" target="_blank" rel="noopener noreferrer">CV</a>
</div>