<div class="desktop tablet">
    <div class="container-fluid nav-border">
        <div class="container">
            <nav>
                <a class="nav-img" href="{{ '/' | url }}">
                    <img src="/assets/images/favicon.png">
                </a>
                {% include "partials/nav-links.njk" %}
            </nav>
        </div>
    </div>
</div>
<div class="mobile">
    <div class="container nav-border">
        <nav>
            <a class="nav-img" href="{{ '/' | url }}">
                <img src="/assets/images/favicon.png">
            </a>
            <div id="nav-mobile-bars">
                {% include "svg/svg-nav-bars.njk" %}
            </div>
        </nav>
    </div>
    <nav-border/>
    <div id="popout" class="hide">
        <div id="nav-mobile-x">
            {% include "svg/svg-nav-x.njk" %}
        </div>
        {% include "partials/nav-links.njk" %}
    </div>
</div>