{# Desktop + Tablet #}
<nav class="desktop tablet" aria-label="Main menu">
    <div class="container-fluid nav-border">
        <div class="container">
            <div class="nav-container">
                <div class="nav-img">
                    <img src="{{ '/assets/images/favicon.png' | url }}" alt="stylized letter C logo">
                </div>
                {% include "partials/nav-links.njk" %}
            </div>
        </div>
    </div>
</nav>

{# Mobile #}
<nav class="mobile" aria-label="Main menu">
    {# Navbar #}
    <div class="container nav-border" id="mobile-nav-wrap">
        <div class="nav-container">
            <div class="nav-img">
                <img src="{{ '/assets/images/favicon.png' | url }}" alt="stylized letter C logo">
            </div>
            <div id="nav-mobile-bars">
                {% include "svg/svg-nav-bars.njk" %}
            </div>
        </div>
    </div>
    {# Spacing for floating navbar #}
    <div id="mobile-nav-spacer"></div>
    {# Popout #}
    <div id="popout" class="container hide" aria-modal="false">
        <div id="nav-mobile-x">
            {% include "svg/svg-nav-x.njk" %}
        </div>
        {% include "partials/nav-links.njk" %}
    </div>
</nav>